
circle {
    fill: red;
}

path {
    fill: #d3d3d3;
    stroke: #fff;
}

body {
    background-color: black;
    /*overflow: hidden;*/
    margin: 0;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.tooltip {
    line-height: 1;
    padding: 12px;
    background: rgba(255,255,255, 0.8);
    color: black;
    border-radius: 2px;
    margin: -2px 0 0 0;
    font-size: 12px;
}

